:root{
  --white: #d6d6d6
}

body {
  background-image: url(./assets/bricks.jpeg);
  background-size: auto; /* Ajusta el tamaño de la imagen de fondo */
  position: relative;
  z-index: -1;
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el último valor (0.5) para ajustar la opacidad */
}


section {
  margin-bottom: 50px;
}

.section{
  background-color: #000;
  padding: 50px 0;
}

.title {
  text-align: center;
  margin: 50px 0;
  color: var(--white);
  font-weight: 700;
  font-size: 60px;
}

.subtitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: var(--white);
  font-weight: 700;
}

.celda {
  border: 1px solid #d0d0d0;
  width: 10%;
}

.texto-matriz {
  font-size: 8px;
}


/* NAVBAR */

.nav {
  background-color: #000;
  color: #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav_links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_links_opt {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 15px;
}

.logo {
  max-width: 100px; /* Ajusta el tamaño máximo de tu logo */
  display: block;
}


/* IDEACION */
.ideacion{
  background-color: #000;
  padding: 20px 0;
}

.ol{
  list-style: none;
  list-style-type: none;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content.show {
  display: block;
}


/* MEJORES IDEAS */

.best-ideas-section{
  padding: 40px 10%;
}

.best-ideas-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.best-idea-container{
  display: flex;
  gap: 50px;
}

.best-idea{
  padding: 25px 0;
}

.best-idea-number{
  color: var(--white);
  font-size: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-idea-title{
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 20px;
}

.best-idea-description{
  color: var(--white);
  font-size: 18px;
  text-align: justify;
}

.best-ideas-li{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.best-idea-1{
  width: 70%;
}

.best-idea-line{
  width: 100%;
  border-top: 1px solid #fff;
}

.best-idea-line-1{
  width: 100%;
  border-top: 1px solid #fff;
  margin-bottom: 20px;
}

.best-idea-2{
  width: 80%;
}

.best-idea-3{
  width: 90%;
}

/* MAPA */



/* MATRIX */

.matrix-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px; /* Espacio entre los cuadrados */
}

.matrix-square {
  width: 50px; /* Ajusta el tamaño de los cuadrados según tus necesidades */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  color: var(--white);
}

.matrix-square:hover{
  cursor: pointer;
  background-color: #fff;
  color: #000
}

.matrix-square-selected{
  background-color: var(--white);
  color: #000;
}


.card-container {
  width: 100%;
  margin-left: 30px;
}

.card {
  background-color: #000;
  color: var(--white);
}

.card-image {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.matrix-view{
  display: flex;
}


/* MEJOR IDEA */

.winner-idea-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-idea-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
}

.winner-idea-description{
  width: 50%;
  color: var(--white);
  text-align: justify;
}


/* REGLAS */

.rules-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rules-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.rule-img{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.rule-img img{
  width: 200px;
}

.rules-list{
  flex: 1;
  color: var(--white);
}


/* CARRUSEL */

.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: fit-content;
  transition: transform 0.3s ease-in-out;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}


.img-carousel{
  width: 500px;
  height: 500px;
}


button {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button svg {
  width: 20px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 20px;
}

.carousel-buttons-container{
  display: flex;
  justify-content: flex-end;
}

.trailer-container{
  width: 600px;
  height: 338px;
}
.container-testing{
  display: flex;
  flex-direction: row;
}
.left-testing{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.right-testing{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}
#img-testing{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-fit: center;
}